In [1]:
#import the necessary variables
import numpy as np
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

In [2]:
#set display options
pd.options.display.max_rows=15

In [3]:
#load the preprocessed data
data_preprocessed = pd.read_csv('04.Absenteeism_preprocessed.csv')

In [4]:
data_preprocessed

,Unnamed: 0,reason_1,reason_2,reason_3,reason_4,months,Days,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours
0,0,0,1,0,0,5,3,225,15,41,237.656,28,1,2,2,8
1,1,0,0,0,1,3,3,225,26,28,222.196,24,0,1,2,2
2,2,0,0,0,1,11,3,179,51,38,284.031,31,0,0,0,3
3,3,0,0,0,1,3,1,228,14,58,222.196,22,0,2,1,3
4,4,0,0,0,1,3,2,361,52,28,244.387,27,0,1,4,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
695,695,1,0,0,0,2,0,388,15,50,302.585,24,0,0,0,8
696,696,0,0,0,1,3,4,179,51,38,222.196,31,0,0,0,3
697,697,0,0,0,1,10,2,179,51,38,253.465,31,0,0,0,8
698,698,0,0,0,1,6,3,225,26,28,377.550,24,0,1,2,2
699,699,1,0,0,0,8,3,291,50,32,205.917,23,0,0,0,4

In [5]:
data_preprocessed['Absenteeism Time in Hours'].describe()

count    700.000000
mean       6.761429
std       12.670082
min        0.000000
25%        2.000000
50%        3.000000
75%        8.000000
max      120.000000
Name: Absenteeism Time in Hours, dtype: float64

In [6]:
#Create checkpoint
data_output_categorized = data_preprocessed.copy()

In [7]:
#categorize the outputs
data_output_categorized['targets']= data_output_categorized['Absenteeism Time in Hours'].map(lambda x: 0 if x<=np.median(data_output_categorized['Absenteeism Time in Hours']) else 1)

In [8]:
#drop the absenteesim column
data = data_output_categorized.drop(['Unnamed: 0', 'Absenteeism Time in Hours'], axis=1)

In [9]:
data

,reason_1,reason_2,reason_3,reason_4,months,Days,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,targets
0,0,1,0,0,5,3,225,15,41,237.656,28,1,2,2,1
1,0,0,0,1,3,3,225,26,28,222.196,24,0,1,2,0
2,0,0,0,1,11,3,179,51,38,284.031,31,0,0,0,0
3,0,0,0,1,3,1,228,14,58,222.196,22,0,2,1,0
4,0,0,0,1,3,2,361,52,28,244.387,27,0,1,4,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
695,1,0,0,0,2,0,388,15,50,302.585,24,0,0,0,1
696,0,0,0,1,3,4,179,51,38,222.196,31,0,0,0,0
697,0,0,0,1,10,2,179,51,38,253.465,31,0,0,0,1
698,0,0,0,1,6,3,225,26,28,377.550,24,0,1,2,0
699,1,0,0,0,8,3,291,50,32,205.917,23,0,0,0,1

### Split the inputs and the targets

In [10]:
#set aside the inputs
inputs = data.iloc[:,:-1]

#set aside the outputs
targets = data.iloc[:,-1]

# BACKWARD ELIMINATION

In [11]:
#BACKWARD ELIMINATION
#After reviewing the summary table at the end 
#notice that ['Distance to Work', 'Daily Work Load Average', 'reason_2'] columns 
#have minimal effect for our model. To simplify the model they can be removed.
inputs.columns.values

array(['reason_1', 'reason_2', 'reason_3', 'reason_4', 'months', 'Days',
       'Transportation Expense', 'Distance to Work', 'Age',
       'Daily Work Load Average', 'Body Mass Index', 'Education',
       'Children', 'Pets'], dtype=object)

In [12]:
#reorganize the input columns
inputs = inputs[['reason_1', 'reason_3', 'reason_4', 'months', 'Days',
       'Transportation Expense', 'Age', 'Body Mass Index', 'Education',
       'Children', 'Pets']]

### Scale the inputs

In [13]:
#initiate a standardscaler instance
scaler = StandardScaler()

#train the model
scaler.fit(inputs)

#perform the scaling and save in a variable
inputs_scaled = scaler.transform(inputs)

### split the  the train and test data

In [14]:
#split the data into train and test
train_x, test_x, train_y, test_y = train_test_split(inputs_scaled, targets, test_size=0.2, random_state = 1)

In [15]:
#check the variable dimensions
train_x.shape, test_x.shape, train_y.shape, test_y.shape

((560, 11), (140, 11), (560,), (140,))

### Perform Logistic Regression

In [16]:
#initiate a Logistic Regression instance
reg_log = LogisticRegression()

#train the model
reg_log.fit(train_x, train_y)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [17]:
#print the probabilitiy of excessive absenteeism: first column is 0, second column is 1(excessive absent)
reg_log.predict_proba(test_x)

array([[0.71286295, 0.28713705],
       [0.77115353, 0.22884647],
       [0.61554067, 0.38445933],
       [0.48888019, 0.51111981],
       [0.6602628 , 0.3397372 ],
       [0.86334704, 0.13665296],
       [0.85282054, 0.14717946],
       [0.59055923, 0.40944077],
       [0.38989107, 0.61010893],
       [0.56914857, 0.43085143],
       [0.80057007, 0.19942993],
       [0.55137117, 0.44862883],
       [0.72893214, 0.27106786],
       [0.68526495, 0.31473505],
       [0.7906853 , 0.2093147 ],
       [0.40266736, 0.59733264],
       [0.67362175, 0.32637825],
       [0.70689716, 0.29310284],
       [0.04825622, 0.95174378],
       [0.83182707, 0.16817293],
       [0.24173563, 0.75826437],
       [0.25829914, 0.74170086],
       [0.78496054, 0.21503946],
       [0.6372266 , 0.3627734 ],
       [0.8379818 , 0.1620182 ],
       [0.76982076, 0.23017924],
       [0.80280903, 0.19719097],
       [0.09323429, 0.90676571],
       [0.61199239, 0.38800761],
       [0.53811107, 0.46188893],
       [0.77060822, 0.22939178],
       [0.74731715, 0.25268285],
       [0.19190179, 0.80809821],
       [0.40901324, 0.59098676],
       [0.82574629, 0.17425371],
       [0.42890131, 0.57109869],
       [0.62515207, 0.37484793],
       [0.33796378, 0.66203622],
       [0.59101971, 0.40898029],
       [0.81059302, 0.18940698],
       [0.72239364, 0.27760636],
       [0.71714979, 0.28285021],
       [0.75548884, 0.24451116],
       [0.75001586, 0.24998414],
       [0.51813615, 0.48186385],
       [0.75163724, 0.24836276],
       [0.67628754, 0.32371246],
       [0.17276925, 0.82723075],
       [0.63117261, 0.36882739],
       [0.63745133, 0.36254867],
       [0.764344  , 0.235656  ],
       [0.38958684, 0.61041316],
       [0.6708636 , 0.3291364 ],
       [0.90686308, 0.09313692],
       [0.17240653, 0.82759347],
       [0.50368046, 0.49631954],
       [0.81625217, 0.18374783],
       [0.82399461, 0.17600539],
       [0.45443124, 0.54556876],
       [0.82395144, 0.17604856],
       [0.8223217 , 0.1776783 ],
       [0.38266946, 0.61733054],
       [0.66831167, 0.33168833],
       [0.70939688, 0.29060312],
       [0.66232871, 0.33767129],
       [0.18485875, 0.81514125],
       [0.5994718 , 0.4005282 ],
       [0.83378798, 0.16621202],
       [0.16241779, 0.83758221],
       [0.12049947, 0.87950053],
       [0.78181116, 0.21818884],
       [0.02991059, 0.97008941],
       [0.86274342, 0.13725658],
       [0.74235754, 0.25764246],
       [0.15831248, 0.84168752],
       [0.66135323, 0.33864677],
       [0.83432306, 0.16567694],
       [0.20605506, 0.79394494],
       [0.55333548, 0.44666452],
       [0.90749934, 0.09250066],
       [0.80057007, 0.19942993],
       [0.24243753, 0.75756247],
       [0.5581997 , 0.4418003 ],
       [0.79007168, 0.20992832],
       [0.39189279, 0.60810721],
       [0.64204976, 0.35795024],
       [0.63274236, 0.36725764],
       [0.88089895, 0.11910105],
       [0.42835009, 0.57164991],
       [0.77060822, 0.22939178],
       [0.78023371, 0.21976629],
       [0.90749934, 0.09250066],
       [0.42197227, 0.57802773],
       [0.53577158, 0.46422842],
       [0.93327251, 0.06672749],
       [0.46285061, 0.53714939],
       [0.49540257, 0.50459743],
       [0.77572629, 0.22427371],
       [0.86651674, 0.13348326],
       [0.06210926, 0.93789074],
       [0.23320413, 0.76679587],
       [0.65438473, 0.34561527],
       [0.22297506, 0.77702494],
       [0.83555342, 0.16444658],
       [0.50618771, 0.49381229],
       [0.77060822, 0.22939178],
       [0.77143452, 0.22856548],
       [0.44893893, 0.55106107],
       [0.66886411, 0.33113589],
       [0.47749751, 0.52250249],
       [0.81881352, 0.18118648],
       [0.22220045, 0.77779955],
       [0.44345272, 0.55654728],
       [0.80098339, 0.19901661],
       [0.69352708, 0.30647292],
       [0.5446028 , 0.4553972 ],
       [0.65983541, 0.34016459],
       [0.4586562 , 0.5413438 ],
       [0.8032503 , 0.1967497 ],
       [0.51082246, 0.48917754],
       [0.27145371, 0.72854629],
       [0.68111217, 0.31888783],
       [0.48888019, 0.51111981],
       [0.83378798, 0.16621202],
       [0.64243285, 0.35756715],
       [0.03923205, 0.96076795],
       [0.65395382, 0.34604618],
       [0.65469897, 0.34530103],
       [0.83182707, 0.16817293],
       [0.26350931, 0.73649069],
       [0.24245255, 0.75754745],
       [0.13439729, 0.86560271],
       [0.84413691, 0.15586309],
       [0.64920343, 0.35079657],
       [0.21691557, 0.78308443],
       [0.38989107, 0.61010893],
       [0.75704513, 0.24295487],
       [0.07985639, 0.92014361],
       [0.6965749 , 0.3034251 ],
       [0.52521171, 0.47478829]])

In [18]:
#evaluate the result
reg_log.score(train_x, train_y)

0.7339285714285714

## Manually check the result

In [19]:
#create a summary table
summary = pd.DataFrame()
summary['test_y'] = test_y
summary['predicted_y'] = reg_log.predict(test_x)
summary['result'] = (summary['test_y'] == summary['predicted_y'])

In [20]:
summary.head(2)

     test_y  predicted_y  result
681       1            0   False
626       1            0   False

In [21]:
#check the stats
summary['result'].describe(include='all')

count      140
unique       2
top       True
freq        92
Name: result, dtype: object

In [22]:
#calculate the accuracy of the predictions
accuracy = summary['result'].describe().freq / summary['result'].count() * 100
print('The accuracy of this model for the test data is {: .1f}% . '.format(accuracy))

The accuracy of this model for the test data is  65.7% .

## Check the accuracy of the training

In [23]:
summary_train = pd.DataFrame()
summary_train['train_y'] = train_y
summary_train['predict_y'] = reg_log.predict(train_x)
summary_train['result'] = (summary_train['train_y']==summary_train['predict_y'])

In [24]:
summary_train['result'].describe()

count      560
unique       2
top       True
freq       411
Name: result, dtype: object

In [25]:
#calculate the accuracy of the predictions
accuracy = summary_train['result'].describe().freq / summary_train['result'].count() * 100
print('The accuracy of this model for the training data is {: .1f}% . '.format(accuracy))

The accuracy of this model for the training data is  73.4% .

## Create a summary table with coefficients

In [26]:
summary_table = pd.DataFrame()

In [27]:
summary_table['features'] = inputs.columns
summary_table['Weights'] = reg_log.coef_.reshape(-1,1)

In [28]:
summary_table.index = summary_table.index+1

In [29]:
summary_table.loc[0] = ['intercept', float(reg_log.intercept_)]

In [30]:
summary_table['odds ratio'] = np.exp(summary_table.Weights)

In [31]:
summary_table = summary_table.sort_index()

In [32]:
summary_table

                  features   Weights  odds ratio
0                intercept -0.235479    0.790192
1                 reason_1  0.223539    1.250494
2                 reason_3  0.600690    1.823377
3                 reason_4 -0.383279    0.681623
4                   months  0.091403    1.095710
5                     Days -0.245276    0.782488
6   Transportation Expense  0.580594    1.787099
7                      Age -0.264760    0.767390
8          Body Mass Index  0.224301    1.251447
9                Education -0.057364    0.944250
10                Children  0.339043    1.403603
11                    Pets -0.391971    0.675724

### ['Distance to Work', 'Daily Work Load Average', 'reason_2'] columns have minimal effect for our model. To simplify the model they can be removed.
Prior to Backward Elimination:
The accuracy of this model for the training data is  73.9% . 
The accuracy of this model for the test data is  64.3% .

## After the Backward Elimination:

The accuracy of this model for the training data is  73.4% . 
The accuracy of this model for the test data is  65.7% . 

### So, removing the variables had negligible impact.